// ClickHouse configuration for Lighthouse
window.CH_HOST = '{{ clickhouse_host }}';
window.CH_PORT = {{ clickhouse_port }};
window.CH_USER = 'default';
window.CH_PASSWORD = '';
window.CH_PROTOCOL = 'http:';
window.CH_DEFAULT_DB = 'default';