server {
    listen       {{ lighthouse_server_port }};
    server_name  {{ lighthouse_server_name }};
    root         {{ lighthouse_install_dir }};
    index        index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    # Proxy requests to ClickHouse
    location /clickhouse/ {
        proxy_pass http://{{ clickhouse_host }}:{{ clickhouse_port }}/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}